<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4 text-center">
      <div class="card-header">
        <h1 class="h4">
          Sala d'espera
        </h1>
      </div>
      <div class="card-body">
        <form action="/profiles/profile">
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Entrar a la partida 
            </button>
          </div>     
        </form>
      </div>
    </div>
  </div>
</div>