<div class="jumbotron mt-4">
    <h1 class="display-4">Pràctica 2 Multijugador</h1>
    <p class="lead">Lliurament pràctica 1 (P.Lab-2)</p>
    <hr class="my-4">
    <div id="c_e11a54493683de29e00bc1758d53c797" class="ancho"></div><script type="text/javascript" src="https://www.eltiempo.es/widget/widget_loader/e11a54493683de29e00bc1758d53c797"></script>
    <p>Lliureu un PDF explicant què heu fet com a mòdul de gestió d'usuaris. El PDF ha d'incloure un enllaç, bé a un servidor web on provar-ho, bé a un vídeo que mostri el mòdul en funcionament.</p>
    <p>Com hem comentat a classe, els requisits mínims són:</p>
    <ul>
        <li>Usuari/email + contrasenya (alternativament, mòbil)</li>
        <li>Contrasenya: longitud mínima i ben guardada</li>
        <li>Funció de recuperació</li>
    </ul>
    <p>I per aconseguir més d'un aprovat podeu afegir algunes d'aquestes funcionalitats o d'altres equivalents (pregunteu abans de fer res que no estigui a la llista):</p>
    <ul>
       <li>CAPTCHA</li>
       <li>Contrasenyes no comuns</li>
       <li>2FA</li>
       <li>Verificació d'email/mòbil</li>
    </ul>
    <p>Et recomanem fer la pràctica amb aquesta PLAYLIST:</p>
    <iframe src="https://open.spotify.com/embed/playlist/37vFhrHFLposAnq4P1wGnx" width="1050" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>